@using PetsProject.Controllers
@using PetsProject.Models;

@model PetsProject.Models.Pets
@Html.HiddenFor(item => item.Id)
@Html.HiddenFor(item => item.Base64Image)

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-controller="Pets" asp-action="Create">
            <div class="form-group">
                <input type="button" value="Next" class="btn btn-primary input-bottom" onclick="location.reload(true);" />
                <input type="submit" value="Save" class="btn btn-success input-bottom" />
            </div>
            <img src="data:image/png;base64,@Model.Base64Image" alt="Animal Image" class="input-bottom" />
            <input type="hidden" asp-for="@Model.Base64Image" />
            <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
        <form asp-controller="Categories" asp-action="Create">
            <Button asp-controller="Pets" asp-action="PetCategories" value="">Test</Button>
            <div class="form-group">
                @*                <label asp-for="Base64Image" class="control-label"></label>
                <input asp-for="Base64Image" class="form-control" />
                <span asp-validation-for="Base64Image" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create Category" class="btn btn-primary" />
            </div>
        </form>

        @*Need to change asp-action for a method that deletes the category from pets*@
        <form asp-controller="Pets" asp-action="Edit">
            <h1>You think this animal is: </h1>
            @if (ViewBag.PetCategoriesSaved is not null)
            {
                @foreach (var item in @ViewBag.PetCategoriesSaved)
                {
                    //this div needs to encapsulate the foreach so the buttons stay side by side
                    <div class="form-group">
                        <input type="submit" value="@item.Name" class="btn btn-success input-bottom" />
                        <input type="hidden" value="@item.Id" asp-for="@Model.Id" />
                    </div>
                    <tr>
                        @*this td is for testing*@
                        <td>
                            <p><h1>OlA @item.Id</h1></p>
                            @*<input type="submit" value="@item.Name" class="btn btn-success input-bottom" />
                    @Html.DisplayFor(modelItem => item)*@
                        </td>
                        <td>
                            <input type="submit" value="Test Save Category to Pet" class="btn btn-success input-bottom" />
                            <a asp-action="Edit" asp-route-id="@Model.Id" value="@Model.Id">Edit Test</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" value="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" value="@item.Id">Delete</a>
                            <input type="hidden" value="@item.Id" asp-for="@Model.Id" />
                            <input type="hidden" asp-for="@Model.Base64Image" />
                        </td>
                    </tr>
                }

            }

        </form>

        <form asp-controller="Pets" asp-action="AddCategoryToPet">
            @*<form asp-controller="Pets" asp-action="AddCategoryToPet">*@
            <div class="form-group">
                <p>You still think this animal isn't:</p>
                @if (ViewBag.CategoriesWithNoPet is not null)
                {
                    @foreach (var item in @ViewBag.CategoriesWithNoPet)
                    {
                        <input type="submit" value="@item.Name" class="btn btn-primary input-bottom input-bottom" />
                        <input type="hidden" value="@item" asp-for="@Model.Categories" />
                        <input type="hidden" value="@item.Id" asp-for="@item" />

                        @*<a asp-action="AddCategoryToPet" asp-route-pets="@Model" value="@Model">+</a>*@
                        <input type="hidden" value="@Model" asp-for="@item" />
                        <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />

                    }
                }
            </div>
        </form>

    </div>
</div>

@*Leaving it for later*@
<hr />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Base64Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Categories)
        {
            <tr>
                <td>
                    <h1>@item.Name</h1>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" type="hidden">Details</a> |
                    <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id" type="hidden">Delete</a>
                </td>
            </tr>
        }

        @* Testing *@
        <form asp-controller="Categories" asp-action="Create">
            @foreach (var item in ViewBag.Pets)
            {
            <tr>
                <td>
                    <p><h1>@item.Id</h1></p>
                        @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    <a asp-action="PetCategories" asp-route-petId="@item.Id" value="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" value="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" value="@item.Id">Delete</a>
                    <input type="hidden" value="@item.Id" asp-for="@Model.Id" />
                </td>
            </tr>
            }
        </form>

        <hr />



        @*        @foreach (var item in Model)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Base64Image)
        </td>
        <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        </tr>
        }*@
    </tbody>
</table>
