@using PetsProject.Controllers
@using PetsProject.Models;

@model PetsProject.Models.Pets

@{
    ViewData["Title"] = "rate_my_animal.com";

}

<h1>Index</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-controller="Pets" asp-action="Create">
            <div class="form-group">
                <input type="button" value="Next" class="btn btn-primary input-bottom" onclick="@("window.location.href='" + @Url.Action("Index", "Pets") + "'");" />
                <input type="submit" value="Save" class="btn btn-success input-bottom" />

            </div>
            <img src="data:image/png;base64,@Model.Base64Image" alt="Animal Image" class="input-bottom" />
            @*Hiddens*@
            <input type="hidden" asp-for="@Model.Base64Image" />
            <input type="hidden" asp-for="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @if (Model.Categories is not null)
                {
                    @for (int categoryIndex = 0; categoryIndex < Model.Categories.Count(); categoryIndex++)
                    {
                        //All Categories
                        var selectedCategoryIndex = 0;
                        <input type="hidden" asp-for="@Model.Categories[categoryIndex].Id" />
                        <input type="hidden" asp-for="@Model.Categories[categoryIndex].Name" />

                        var currentCategory = Model.Categories[categoryIndex];
                        bool selectCategory = Model.SelectedCategories.FirstOrDefault(x => x.CategoryId.Equals(currentCategory.Id)) != null;

                        if (selectCategory)
                        {
                            <input formaction="DeleteCategoryFromPet?petId=@Model.Id&categoryId=@currentCategory.Id" type="submit" value="@Model.Categories[categoryIndex].Name" class="btn btn-success input-bottom" />
                        }
                        else
                        {
                            <input asp-action="AddCategoryToPet" asp-route-categoryId="@currentCategory.Id" asp-route-petId="@Model.Id" type="submit" value="@currentCategory.Name" class="btn btn-primary input-bottom"/>
                            Model.SelectedCategories.Add(new PetsCategories());
                            <input type="hidden" asp-for="@Model.SelectedCategories[selectedCategoryIndex].Id" />
                            selectedCategoryIndex++;

                        }


                    }

                }
            </div>

        </form>

        <form asp-controller="Categories" asp-action="Create">
            <Button asp-controller="Categories" asp-action="Create" value="" class="btn btn-secondary input-bottom">Create Category</Button>
            <Button asp-controller="Categories" asp-action="Index" value="" class="btn btn-info">List all categories</Button>
        </form>


    </div>
</div>

<div class="row">
    <div class="col-md-4">
            <h1>Filter by:</h1>
            @foreach (var item in Model.Categories)
            {
                <a asp-controller="Pets" asp-action="FilterByCategory" asp-route-categoryId="@item.Id" asp-route-petId="@Model.Id">@item.Name</a>

            }


    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                History
            </th>

        </tr>
    </thead>
    <tbody>
        <form asp-controller="Categories" asp-action="Create">

            @foreach (var item in ViewBag.Pets)
            {
            <tr>
                <td>
                    <img src="data:image/png;base64,@item.Base64Image" alt="Animal Image" class="input-bottom" height="150" />
                </td>
                <td>
                    <a asp-action="PetCategories" asp-route-petId="@item.Id" value="@item.Id">Change Categories for Pet</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" value="@item.Id">Delete</a>
                    <input type="hidden" value="@item.Id" asp-for="@Model.Id" />
                </td>
            </tr>
            }

        </form>


    </tbody>
</table>
