@using PetsProject.Controllers
@using PetsProject.Models;

@model PetsProject.Models.Pets
@Html.HiddenFor(item => item.Id)
@Html.HiddenFor(item => item.Base64Image)

@{
    ViewData["Title"] = "rate_my_animal.com";

}

<h1>Index</h1>

<div class="row">
    <div class="col-md-4">

        <form asp-controller="Pets" asp-action="Create">
            <div class="form-group">
                <input type="button" value="Next" class="btn btn-primary input-bottom" onclick="@("window.location.href='" + @Url.Action("Index", "Pets") + "'");" />
                @*<input formaction="Index" type="button" value="Next" class="btn btn-primary input-bottom" onclick="(location.reload)"/>*@
                <input type="submit" value="Save" class="btn btn-success input-bottom" />
                
            </div>
            <img src="data:image/png;base64,@Model.Base64Image" alt="Animal Image" class="input-bottom" />
            <input type="hidden" asp-for="@Model.Base64Image" />
            <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                @if (ViewBag.CategoriesWithPets is not null)
                {
                    <h1>You think this animal is: </h1>
                    @foreach (var item in Model.Categories)
                    {
                        //this div needs to encapsulate the foreach so the buttons stay side by side
                        <input formaction="DeleteCategoryFromPet?petId=@Model.Id&categoryId=@item.Id" type="submit" value="@item.Name" class="btn btn-success input-bottom" />
                        <input type="hidden" value="@item.Id" asp-for="@Model.Categories" />
                        <input type="hidden" value="@item.Id" asp-for="@Model.Id" />
                    }

                }



                @if (ViewBag.CategoriesWithNoPet is not null)
                {
                    <p>You still think this animal isn't':</p>

                    @foreach (var item in @ViewBag.CategoriesWithNoPet)
                    {
                        <input formaction="AddCategoryToPet?categoryId=@item.Id&petId=@Model.Id" type="submit" value="@item.Name" class="btn btn-primary input-bottom" />
                        <input type="hidden" asp-for="@Model.Categories" />
                        <input type="hidden" asp-for="@item" />

                        @*<a asp-action="AddCategoryToPet" asp-route-pets="@Model" value="@Model">+</a>*@
                        <input type="hidden" value="@Model" asp-for="@item" />
                        <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />

                    }
                }
            </div>

        </form>

        <form asp-controller="Categories" asp-action="Create">
            <Button asp-controller="Categories" asp-action="Create" value="" class="btn btn-secondary input-bottom">Create Category</Button>
            <Button asp-controller="Categories" asp-action="Index" value="" class="btn btn-info">List all categories</Button>
        </form>


    </div>
</div>

@*Leaving it for later*@
<table class="table">
    <thead>
        <tr>
            <th>
                History
            </th>

        </tr>
    </thead>
    <tbody>
        <form asp-controller="Categories" asp-action="Create">

            @foreach (var item in ViewBag.Pets)
            {
            <tr>
                <td>
                    <img src="data:image/png;base64,@item.Base64Image" alt="Animal Image" class="input-bottom" height="150px" />
                        @*@Html.DisplayFor(modelItem => item)*@
                </td>
                <td>
                    <a asp-action="PetCategories" asp-route-petId="@item.Id" value="@item.Id">Change Categories for Pet</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" value="@item.Id">Delete</a>
                    <input type="hidden" value="@item.Id" asp-for="@Model.Id" />
                </td>
            </tr>
            }

        </form>
        @foreach (var item in ViewBag.Categories)
        {
            @*<a asp-controller="Categories" asp-action="Index" asp-route-id="@item.Id">List All</a> |*@
            <tr>
                <td>
                    <h1>@item.Name</h1>

                    <a asp-controller="Pets" asp-action="FilterByCategory" asp-route-categoryId="@item.Id" asp-route-petId="@Model.Id">Filter by this category</a> |

                    <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" type="hidden">Details</a> |
                    <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id" type="hidden">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
